<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ergebnis</title>
</head>
<body>
<div>
    <p>Das Ergebnis lautet:</p>
    <p th:text="${Ergebnis}"></p>
</div>

</body>
</html>